*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(201, 155, 95);

}
h1{
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px blueviolet;
}

input{
    flex-grow:.1;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    color:rgb(10, 7, 7);
    /* background-color: black; */
}

.inp-container{
    display: flex;
    justify-content:start;
    flex-direction: column;
    height: 50vh;
    width: 400px;
    margin: 50px auto;
    /* align-items: center; */
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 9px 5px 12px green;

}
button{
    background-color: rgb(255, 183, 16);
    border:3px solid rgb(21, 207, 21);
    box-shadow: 2px 2px 3px rgb(167, 39, 61);
    padding: 10px;
    border-radius: 0px 2px 20px 20px;
}

ul{
    text-transform: uppercase;
    text-decoration-style: none;
    list-style-type:none;
    padding: 20px;
    padding-left: 30px;
    border: 2px solid white;
}
li{
    /* border: 5px solid white; */

    

}